<head>
    <title>Flask app</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="{{url_for('static', filename='js/main.js')}}"></script>
</head>

<p>{{community.name}}</p>
{%if not community.user_in %}
    <a href="/join/{{community.name}}" >Liity</a>
{% endif %}
{%if community.user_is_admin %}
<div class="dropdown">
    <button onclick="myFunctionC()" class="dropbtn">Estä käyttäjiä</button>
    <div id="myDropdownC" class="dropdown-content">
      <input type="text" placeholder="Etsi..." id="myInputC" onkeyup="filterFunctionC()">
      {% for user in users %}
        {% if not user.admin and not user.banned %}
            <div>
                {{user.username}} <button><a href="/ban/{{community.name}}/{{user.username}}">Estä</a></button>
                {{user.username}} <button><a href="/admin/{{community.name}}/{{user.username}}">Lisää ylläpitäjäksi</a></button>
            </div>
        {% endif%}
    {% endfor %}
    </div>
</div>
{% endif %}
<p>{{user_in}}</p>
{% for thread in threads %}
<ul>
    <li>
        <a href="/thread/{{thread.id}}">{{thread.title}} {{thread.votes}}</a>
    </li>
</ul>
    
{% endfor %}

