<head>
    <title>Flask app</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="{{url_for('static', filename='js/main.js')}}"></script>
</head>


<div class="container">
  <nav class="navbar navbar-expand-sm navbar-light">
    <a class="navbar-brand" href="/">Teddit</a>
    <ul class="navbar-nav">
      <li class="nav-item">
        <div class="dropdown">
          <button onclick="myFunctionA()" class="dropbtn">Ryhmäsi</button>
          <div id="myDropdownA" class="dropdown-content">
            <input type="text" placeholder="Etsi..." id="myInputA" onkeyup="filterFunctionA()">
            {% for community in communities %}
              {% if community.user_in and not community.user_banned %}
                  <a href="/community/{{community.name}}">{{community.name}}</a>
              {% endif %}
          {% endfor %}
          </div>
      </div>      
      </li>
      <li class="nav-item">
        <div class="dropdown">
          <button onclick="myFunctionB()" class="dropbtn">Etsi ryhmiä</button>
          <div id="myDropdownB" class="dropdown-content">
            <input type="text" placeholder="Etsi..." id="myInputB" onkeyup="filterFunctionB()">
            {% for community in communities %}
              {% if not community.user_in %}
                  <a href="/community/{{community.name}}">{{community.name}}</a>
              {% endif %}
          {% endfor %}
          </div>
      </div>
      </li>
    </ul>
  </nav>
</div>

<p>{{community.name}}</p>
{%if not community.user_in and not community_user.banned %}
    <a href="/join/{{community.name}}" >Liity</a>
{% else %} 
    <a href="/leave/{{community.name}}">Lähde</a>
{% endif %}
{%if community.user_is_admin %}
<div class="dropdown">
    <button onclick="myFunctionC()" class="dropbtn">Estä käyttäjiä</button>
    <div id="myDropdownC" class="dropdown-content">
      <input type="text" placeholder="Etsi..." id="myInputC" onkeyup="filterFunctionC()">
      {% for user in users %}
        {% if not user.admin and not user.banned %}
            <div>
                {{user.username}} <button><a href="/ban/{{community.name}}/{{user.username}}">Estä</a></button>
                {{user.username}} <button><a href="/admin/{{community.name}}/{{user.username}}">Lisää ylläpitäjäksi</a></button>
            </div>
        {% endif%}
    {% endfor %}
    </div>
</div>
{% endif %}
<p>{{user_in}}</p>

<div class="container">
    <div class="row">
      <div class="col-sm-12 mb-3">
        <input type="text" id="myFilter" class="form-control" onkeyup="myFunction()" placeholder="Search for names..">
      </div>
    </div>
    <div class="row" id="myItems">
      <div class="col-sm-12 mb-3">
        {% for thread in threads %}
        <div class="card">
            <div class="card-body">
              <div class="mybox">
                <div>
                  <h5 class="card-title"><a href="/thread/{{thread.id}}">{{thread.title}}</a></h5>
                <div class="numberCircle">{{thread.votes}}</div>
              </div>
            </div>
            </div>
        {% endfor %}
      </div>    
    </div>
  </div>
