<form action="/create_a_thread" method="POST">
    <p>Ryhmä:</p>
    <select name="community_name">
        {% for community in communities %}
            {% if community.user_in and not community.user_banned %}
                <option value="{{community.name}}">{{community.name}}</option>
            {% endif %}
        {% endfor %}
    </select>    
    <p>Ketjun Otsikko:<br>
    <input type="text" name="title"></p>
    <p>Ketjun Sisältö:<br>
    <input type="text" name="content"></p>
    <input type="submit" value="Luo">
</form>