<head>
    <title>Flask app</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="{{url_for('static', filename='js/main.js')}}"></script>
</head>




<div class="container">
  <nav class="navbar navbar-expand-sm navbar-light">
    <a class="navbar-brand" href="/">Teddit</a>
    <ul class="navbar-nav">
      <li class="nav-item">
        <div class="dropdown">
          <button onclick="myFunctionA()" class="dropbtn">Ryhmäsi</button>
          <div id="myDropdownA" class="dropdown-content">
            <input type="text" placeholder="Etsi..." id="myInputA" onkeyup="filterFunctionA()">
            {% for community in communities %}
              {% if community.user_in and not community.user_banned %}
                  <a href="/community/{{community.name}}">{{community.name}}</a>
              {% endif %}
          {% endfor %}
          </div>
      </div>      
      </li>
      <li class="nav-item">
        <div class="dropdown">
          <button onclick="myFunctionB()" class="dropbtn">Etsi ryhmiä</button>
          <div id="myDropdownB" class="dropdown-content">
            <input type="text" placeholder="Etsi..." id="myInputB" onkeyup="filterFunctionB()">
            {% for community in communities %}
              {% if not community.user_in %}
                  <a href="/community/{{community.name}}">{{community.name}}</a>
              {% endif %}
          {% endfor %}
          </div>
      </div>
      </li>
      <li class="nav-item">
        <a href = "/create_community"><button class="dropbtn">Luo uusi ryhmä</button></a>
      </li>
      <li class="nav-item">
        <a href = "/create_a_thread"><button class="dropbtn">Luo uusi ketju</button></a>
      </li>
      <li class="nav-item">
        <a href = "/logout"><button class="dropbtn">Kirjaudu ulos</button></a>
      </li>
    </ul>
  </nav>
</div>



<div class="container">
    <div class="row">
      <div class="col-sm-12 mb-3">
        <input type="text" id="myFilter" class="form-control" onkeyup="myFunction()" placeholder="Search for names..">
      </div>
    </div>
    <div class="row" id="myItems">
      <div class="col-sm-12 mb-3">
        {% for thread in threads %}
            <div class="card">
            <div class="card-body">
              <div class="mybox">
                <div>
                  <h5 class="card-title"><a href="/thread/{{thread.id}}">{{thread.title}}</a></h5>
                  <h6 class="card-subtitle mb-2 text-muted">{{thread.community_name}}</h6>
                </div>
                <div class="numberCircle">{{thread.votes}}</div>
              </div>
            </div>
            </div>
        {% endfor %}
      </div>    
    </div>
  </div>

