<head>
    <title>Flask app</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="{{url_for('static', filename='js/main.js')}}"></script>
</head>

{% with messages = get_flashed_messages(with_categories=True) %}
{% if messages %}
{% for category, message in messages %}
<div class="alert alert-{{ "primary" if category == "message" else category }}">{{ message }}</div>
{% endfor %}
{% endif %}
{% endwith %}

<div class="container">
    <nav class="navbar navbar-expand-sm navbar-light">
      <a class="navbar-brand" href="/">Teddit</a>
      <ul class="navbar-nav">
        <li class="nav-item">
            <a href = "/register"><button class="dropbtn">Rekisteröidy</button></a>
        </li>
      </ul>
    </nav>
  </div>

<form action="/login" method="POST">
    <div class="form-group col-6">
      <label for="username">Käyttäjätunnus</label>
      <input type="text" class="form-control" id="username" name="username">
    </div>
    <div class="form-group col-6">
      <label for="password">Salasana</label>
      <input type="password" class="form-control" id="password" name="password">
    </div>
    <div class="form-group col-6">
      <button type="submit" class="btn btn-primary">Kirjaudu</button>
    </div>
</form>