<head>
    <title>Flask app</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="{{url_for('static', filename='js/main.js')}}"></script>
</head>

<div class="container">
    <nav class="navbar navbar-expand-sm navbar-light">
      <a class="navbar-brand" href="/">Teddit</a>
      <ul class="navbar-nav">
          {% if thread.is_users or thread.user_is_admin %}
        <li class="nav-item">
            <a href = "/delete/thread/{{thread.id}}"><button class="dropbtn">Poista</button></a>
          </li>
          <li class="nav-item">
            <a href = "/edit/thread/{{thread.id}}"><button class="dropbtn">Muokkaa</button></a>
          </li>
          {% endif %}
      </ul>
    </nav>
  </div>

<h1>{{thread.title}} {% if thread.edited %} (edited) {% endif %}</h1>
<div class="mybox">
    <div class="numberCircle">{{thread.votes}}</div>
    <div class="number">
      <a href="/downvote/{{thread.id}}"><button class='down_count btn btn-info' title='Down'>-<i class='icon-minus'></i></button> </a>
      <a href="/upvote/{{thread.id}}"><button class='up_count btn btn-info' title='Up'>+<i class='icon-plus'></i></button></a>
    </div>
</div>




<form action="/message/{{thread.id}}" method="POST">
    <textarea name="content"></textarea>
    <input type="submit" value="Lisää kommentti">
</form>


<ul>
{% for message in messages %} 
        <li>
            <div class="useful_box">
                <div>
                    <a href="/downvote/message/{{thread.id}}/{{message.id}}"><button class='down_count btn btn-info' title='Down'>-<i class='icon-minus'></i></button> </a>
                    <a href="/upvote/message/{{thread.id}}/{{message.id}}"><button class='up_count btn btn-info' title='Up'>+<i class='icon-plus'></i></button></a>
                </div>
            <p class="padleft">
            {% if message.edited %}
            (edited)
            {% endif %}
            {{message.content}}
            {{message.votes}}
            {% if message.is_users or thread.user_is_admin %}
            {% endif %}
            </p>
        </div>
        </li>
{% endfor %}
</ul>

