<head>
    <title>Flask app</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="{{url_for('static', filename='js/main.js')}}"></script>
</head>

<h1>{{thread.title}}</h1>

<div class="number">
  <button class='down_count btn btn-info' title='Down'>-<i class='icon-minus'></i></button> 
  <button class='up_count btn btn-info' title='Up'>+<i class='icon-plus'></i></button>
</div>

<p>{{thread.content}}</p>

<p>{{thread.votes}}</p>

<p>{{thread.user_vote}}</p>

<p>{{thread.user_is_admin}}</p>

{% if thread.edited %}
    <p>edited</p>
{% endif %}

{% if thread.is_users or thread.user_is_admin %}
    <a href="/delete/thread/{{thread.id}}">Poista</a>
    <a href="/edit/thread/{{thread.id}}">Muokkaa</a>
{% endif %}

<a href="/upvote/{{thread.id}}">Peukuta</a>

<a href="/downvote/{{thread.id}}">Downvote</a>

<form action="/message/{{thread.id}}" method="POST">
    <input type="text" name="content"></p>
    <input type="submit" value="Lisää kommentti">
</form>

{% for message in messages %} 

    <ul>
        <li>
            {% if message.edited %}
            <p>edited</p>
            {% endif %}
            {% if message.is_users or thread.user_is_admin %}
                <a href="/delete/message/{{thread.id}}/{{message.id}}">Poista</a>
                <a href="/edit/message/{{thread.id}}/{{message.id}}">Muokkaa</a>
            {% endif %}
            <a href="/upvote/message/{{thread.id}}/{{message.id}}">Peukuta</a>
            <a href="/downvote/message/{{thread.id}}/{{message.id}}">Downvote</a>
            {{message.content}}
            {{message.votes}}
        </li>
    </ul>

{% endfor %}