<h1>{{thread.title}}</h1>

<p>{{thread.content}}</p>

<p>{{thread.votes}}</p>

<p>{{thread.user_vote}}</p>

<a href="/upvote/{{thread.id}}">Peukuta</a>

<a href="/downvote/{{thread.id}}">Downvote</a>

<form action="/message/{{thread.id}}" method="POST">
    <input type="text" name="content"></p>
    <input type="submit" value="Lisää kommentti">
</form>

{% for message in messages %} 

    <ul>
        <li>
            <a href="/upvote/message/{{thread.id}}/{{message.id}}">Peukuta</a>
            <a href="/downvote/message/{{thread.id}}/{{message.id}}">Downvote</a>
            {{message.content}}
            {{message.votes}}
        </li>
    </ul>

{% endfor %}